<div class="panel">

 <item-work-details config="workData" show="show"></item-work-details>

  <div class="manager-works">
    <ul class="manager-works__menu">
      <li ng-class="{ 'true' : showTag === 'works'}" ng-click="navega('works')"><a ></a>WORKS</li>
      <li ng-class="{ 'true' : showTag === 'tags'}" ng-click="navega('tags')"><a ></a>TAGS</li>
      <li ng-class="{ 'true' : showTag === 'buckets'}" ng-click="navega('buckets')"><a ></a>BUCKETS</li>
      <li ng-class="{ 'true' : showTag === 'groups'}" ng-click="navega('groups')"><a ></a>GROUPS</li>
    </ul>

    <div ng-show="showTag === 'works'">
      <item-work ng-repeat="work in works" config="work"   show-work-details="showDetails"></item-work>
    </div>

    <div ng-show="showTag === 'tags'">
      <h1>TAGS</h1> <small>{[{ statistics.total }]}</small>
      <form ng-submit="add('tags')">
        <input ng-change="partialSearch('tags')" type="text" ng-model="inputSearch">
        <select name="singleSelect" id="singleSelect" ng-change="partialSearch('tags')"  ng-model="language">
          <option value="es">ESPAÑOL</option>
          <option value="en">ENGLISH</option>
        </select><br>
      </form>
      <worklist-item ng-repeat="tag in dataSearch | orderBy : orderBy:'tag.text' " data="tag" lang="language" refresh="actualiza" ></worklist-item>
    </div>

    <div ng-show="showTag === 'buckets'">
      <h1>BUCKETS</h1>
      <li ng-repeat="bucket in dataSearch">{[{ bucket.text }]}</li>

      <form ng-submit="add('buckets')">
        <input ng-change="partialSearch('buckets')" type="text" ng-model="inputSearch">
        <select name="singleSelect" id="singleSelect" ng-change="partialSearch('buckets')"  ng-model="language">
          <option value="es">ESPAÑOL</option>
          <option value="en">ENGLISH</option>
        </select><br>
      </form>
      <worklist-item ng-repeat="bucket in dataSearch | orderBy : orderBy:'tag.text' " data="bucket" lang="language" refresh="actualiza" ></worklist-item>
    </div>

    <div ng-show="showTag === 'groups'">
      <h1>GROUPS</h1>
      <li ng-repeat="group in dataGroups">{[{ group.text }]}</li>
    </div>

  </div>
    
</div>