<section class="signup">

  <form >
    <input class="signup__input" type="text" ng-model="name" placeholder="Name">
    <input class="signup__input" type="text" ng-model="username" placeholder="User Name">
    <input class="signup__input" type="text" ng-model="password" placeholder="password">
    <div>
        <input ng-change="change(val)" type="checkbox" ng-model="permissions.works" class="js-switch" checked ui-switch="{color: '#9BBB00', secondaryColor: '#E43B11'}"/>
        <span>WORKS</span>
    </div>

    <div>
        <input ng-change="change(val)" type="checkbox" ng-model="permissions.statistics" class="js-switch" checked ui-switch="{color: '#9BBB00', secondaryColor: '#E43B11'}"/>
        <span>STATISTICS</span>
    </div>

    <div>
        <input ng-change="change(val)" type="checkbox" ng-model="permissions.users" class="js-switch" checked ui-switch="{color: '#9BBB00', secondaryColor: '#E43B11'}"/>
        <span>USERS</span>
    </div>

    <div>
        <input ng-change="change(val)" type="checkbox" ng-model="permissions.upload" class="js-switch" checked ui-switch="{color: '#9BBB00', secondaryColor: '#E43B11'}"/>
        <span>UPLOAD</span>
    </div>

    <input class="signup__button" type="submit" value="REGISTRAR" ng-click="signup()">
  </form>
  
</section>